body{
    font-family: 'Oswald', sans-serif;
    color: #365486;
}
.bg-image{
    position: absolute;
    width: 100%;
    height: 90vh;
    z-index: -1;
}
.title-container{
    padding: 27vh 0 36vh 0;
    
}
.title-container h1{
    margin: 50px 0 20px 0;
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
}
.title-container p{
    font-size: 1.4rem;
    letter-spacing: 2px;
}
.profile-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
button{
    background-color: #365486 !important;
}

#footer{
    background-color: #365486 !important;
    color: white !important;
}
@media (max-width: 1200px){
    .title-container h1{
        font-size: 4.5rem;
      
    }
}
@media (max-width: 900px){
    .title-container h1{
        font-size: 4rem;
      
    }
}
@media (max-width: 600px){
    .title-container h1{
        font-size: 3rem;
      
    }
}